src/.vs/mini_tetris/v15/.suo
src/.vs/mini_tetris/v15/Browse.VC.db
src/.vs/mini_tetris/v15/ipch/AutoPCH/MINI_TETRIS-335a4391/BLOCK-14d3b831/BLOCK.ipch
src/.vs/mini_tetris/v15/ipch/AutoPCH/MINI_TETRIS-335a4391/FIELD-410d0dea/FIELD.ipch
src/.vs/mini_tetris/v15/ipch/AutoPCH/MINI_TETRIS-335a4391/GAMEMANAGER-ae9ae1b/GAMEMANAGER.ipch
src/.vs/mini_tetris/v15/ipch/AutoPCH/MINI_TETRIS-335a4391/GRID-e5eaf34c/GRID.ipch
src/.vs/mini_tetris/v15/ipch/AutoPCH/MINI_TETRIS-335a4391/KEYBOARDINPUT-5c1b97a7/KEYBOARDINPUT.ipch
src/.vs/mini_tetris/v15/ipch/AutoPCH/MINI_TETRIS-335a4391/POINT-511c2010/POINT.ipch
src/.vs/mini_tetris/v15/ipch/AutoPCH/MINI_TETRIS-335a4391/TEST-3b8cc3a1/TEST.ipch
src/Debug/mini_tetris.exe
src/Debug/mini_tetris.ilk
src/Debug/mini_tetris.log
src/Debug/mini_tetris.pdb
src/Debug/test.obj
src/Debug/vc141.idb
src/Debug/vc141.pdb
src/Debug/mini_tetris.tlog/CL.command.1.tlog
src/Debug/mini_tetris.tlog/CL.read.1.tlog
src/Debug/mini_tetris.tlog/CL.write.1.tlog
src/Debug/mini_tetris.tlog/link.command.1.tlog
src/Debug/mini_tetris.tlog/link.read.1.tlog
src/Debug/mini_tetris.tlog/link.write.1.tlog
src/Debug/mini_tetris.tlog/mini_tetris.lastbuildstate
src/mini_tetrominos.sln
src/mini_tetrominos.vcxproj.filters
