.vs/mini_tetris/v15/.suo
.vs/mini_tetris/v15/Browse.VC.db
.vs/mini_tetris/v15/ipch/AutoPCH/MINI_TETRIS-335a4391/BLOCK-14d3b831/BLOCK.ipch
.vs/mini_tetris/v15/ipch/AutoPCH/MINI_TETRIS-335a4391/FIELD-410d0dea/FIELD.ipch
.vs/mini_tetris/v15/ipch/AutoPCH/MINI_TETRIS-335a4391/GAMEMANAGER-ae9ae1b/GAMEMANAGER.ipch
.vs/mini_tetris/v15/ipch/AutoPCH/MINI_TETRIS-335a4391/GRID-e5eaf34c/GRID.ipch
.vs/mini_tetris/v15/ipch/AutoPCH/MINI_TETRIS-335a4391/KEYBOARDINPUT-5c1b97a7/KEYBOARDINPUT.ipch
.vs/mini_tetris/v15/ipch/AutoPCH/MINI_TETRIS-335a4391/POINT-511c2010/POINT.ipch
.vs/mini_tetris/v15/ipch/AutoPCH/MINI_TETRIS-335a4391/TEST-3b8cc3a1/TEST.ipch
Debug/mini_tetris.exe
Debug/mini_tetris.ilk
Debug/mini_tetris.log
Debug/mini_tetris.pdb
Debug/test.obj
Debug/vc141.idb
Debug/vc141.pdb
Debug/mini_tetris.tlog/CL.command.1.tlog
Debug/mini_tetris.tlog/CL.read.1.tlog
Debug/mini_tetris.tlog/CL.write.1.tlog
Debug/mini_tetris.tlog/link.command.1.tlog
Debug/mini_tetris.tlog/link.read.1.tlog
Debug/mini_tetris.tlog/link.write.1.tlog
Debug/mini_tetris.tlog/mini_tetris.lastbuildstate
mini_tetris.sln
